@model Student.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "_ChangePassword";
}

<p style="color:red;">@ViewBag.passerror</p>

<div>

    @using (Html.BeginForm("ChangePassword", "Account", new { }, FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label", style = "max-width:20%; color: black" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label", style = "max-width:20%; color: black" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label", style = "max-width:25%; color: black" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="form-button">Save changes</button>
            </div>
        </div>
    }

</div>